*,
*::before,
*::after {
box-sizing: border-box;
}
/* type scale syles */
@import url('https://fonts.googleapis.com/css?family=Poppins:400');
:root {
  /* colors */
/* primary */
--white: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 13%);
--red-light: hsl(355, 70%, 91%);
--red-dark: hsl(355, 61%, 32%);
--green-dark: hsl(152, 69%, 19%);
--green-light: hsl(153, 31%, 86%);
---green: hsl(154, 59%, 51%);
--clr-GrayishBlue: hsl(219, 100%, 97%);
--Red: hsl(0, 100%, 74%);

/*Neutral colors */
--DarkBlue: hsl(249, 10%, 26%);
--GrayishBlue: hsl(246, 25%, 77%);
/* accent color*/
--Blue: hsl(248, 32%, 49%);

/* font sizes */
--fs-xxlarge--h1: 3.052rem;
--fs-xlarger--h2: 2.441rem; 
--fs-larger--h3: 1.953rem;
--fs-large--h4: 1.563rem;
--fs-medium--h5: 1.25rem ;
--fs-body: 16px;
--fs-small: 0.8em;

/* font families */
--ff-primary: 'Karla', sans-serif; /* body font */
--ff-secondary: 'Poppins', sans-serif; 
/* header font */

/* var reset styles */
--bg-header: var(--Blue);
--bg-btn: var(---green);
--bg-color: var(--Red:);
--borderRadius: 0.25em;
--letter-spacing: 1px;
--transtion: 0.3s ease-in-out all;
--max-width: 70rem;
--fixed-width: 37.5rem;

/* font-weights */
--fw-Xbold: 700;
--fw-bold: 500;
--fw-reg:400;
/* boxshadow */
--bs-s: 0 1px 2px 0 rgb(0 0 0 / 0.05);
--bs-n: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
--bs-m:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
--bs-l:0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* general styles */

html {
  font-size: 100%;
} /*16px*/

body {
  background-color: var(--Red);
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  line-height: 1.3;
  color: var(--white);
  /* opacity: 0.6; */
}
.body {
  background-image: url(../images/bg-intro-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover ;
}
p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0 1.38rem;
  font-family: var(--ff-secondary);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: var(--fs-xxlarge--h1);
}

h2 {
  font-size:var(--fs-xlarger--h2);
}

h3 {
  font-size: var(--fs-larger--h3);
}

h4 {
  font-size: var(--fs-large--h4);
}

h5 {
  font-size: var(--fs-medium--h5);
}

small, .text_small {
  font-size: var(--fs-small)
}

/* end of type scale styles */
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

:focus {
  outline: 0.1em solid var(--Blue);
  outline-offset: 0.0625em;
}

/* button */
.btn {
  display: inline block;
  cursor: pointer;
  color: var(--white);
  background-color: var(--bg-btn);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letter-spacing);
  padding: 0.375rem 0.75em;
  box-shadow: var(--bs-s);
  transition: var(--transtion);
  text-transform: capitalize;
  margin-top: 2em;
}

.btn:hover,
.btn:focus {
  background-color: var(--white);
  box-shadow: var(--bs-m);
  color: var(--bg-btn);
}

.btn-block {
width: 100%;
}

/* alerts set up */
.alert {
  margin-bottom: 1rem;
  border: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  background-color: var(--red-light);
  color: var(--red-dark);
  visibility: hidden;
}

.alert-success {
  background-color: var(--green-light);
  color: var(--green-dark);
  visibility: hidden;
}

/* form */
.form {
  width: 90%;
  max-width: var(--fixed-width);
  border-radius: var(--borderRadius);
  box-shadow: var(--bs-m);
  padding: 2em 1.5em;
  background-color: var(--white);
  font-size: var(--fs-body);
}

.form-label {
  display: block;
  font-size: var(--fs-small);
  margin-bottom: 0.25em;
  text-transform: capitalize;
  letter-spacing: var(--letter-spacing);
  
}
.form-input {
width: 100%;
padding:  0.5em;
border-radius: var(--borderRadius);
background-color: var(--clr-GrayishBlue);
border:  0.0625rem solid var(--clr-VeryDarkViolet);
}
.alert-danger .form-input {
  border:  0.125rem solid var(--red-light);
  visibility: visible;
  }
.alert-success .form-input {
    border:  0.125rem solid var(--green-light);
    visibility: visible;
    }
.form-row {
margin-bottom: 0.5rem;
position: relative;
}
::placeholder {
  font-family: inherit;
}
.form-row__icon  {
  position: absolute;
  top: 1.8em;
  right: 1em;
}
.alert-danger i.fa-circle-exclamation {
  visibility: visible;
}

.alert-success i.fa-circle-check  {
  visibility: visible;
}
.form-alert {
  position: absolute;
  bottom: -1.5em;
  right: 1em;
  color: var(--red-dark);
  visibility: hidden;
}
.alert-danger .form-alert {
  visibility: visible;
}
/* page styles */
.container {
  width: min(80%, var(--max-width));
  padding-inline: 1em;
  margin-inline: auto;
  margin: 3rem auto; 
}
.form-header {
  width: 90%;
  background-color: var(--bg-header);
  max-width: var(--fixed-width);
  border-radius: var(--borderRadius);
  box-shadow: var(--bs-l);
}
.form-footer {
color: var(--black);
opacity: 0.6;
}
.form-footer--link  {
  color: var(--red-dark);
  opacity: 9;
} 
.subtitle {
  font-size: var(--fs-body);
  text-align: center;
  padding: 0.75em  1em;
}
.lighter-text {
  font-weight: 300;
  opacity: 0.5;
  font-size: var(--fs-small);
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
}
.flex {
  align-items: center;
  text-align: center;
}
.title{
  font-size: var(--fs-larger--h3);
  font-weight: var(--fw-Xbold);
  }
.attribution {
  font-size: 11px; 
  text-align: center; 
}
.attribution a { color: hsl(228, 45%, 44%);
}

@media (min-width: 35rem) {
  .body {
    background-image: url(../images/bg-intro-desktop.png);
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .flex {
    text-align: left;
}
}